@font-face {
  font-family: PrimeRegular;
  src: url(/public/fonts/Prime\ Regular.otf);
}

:root {
  --primary-color: #e6e6e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PrimeRegular;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  background-color: var(--primary-color);
  background-image: url("../img/starfield_compass.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

.custom_text_container {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.custom_text_container .title {
  font-size: 30px;
  font-weight: 800;
}

.custom_text_container .subtitle {
  font-size: 20px;
  opacity: 80%;
}

.info_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  text-align: center;
  margin-top: 5px;
}

.info_container {
  color: var(--primary-color);
}

.info_container .info {
  font-size: 20px;
  font-weight: 800;
}

.info_container .title {
  font-size: 15px;
  opacity: 80%;
}
.divider {
  height: 50px;
  border: 1px solid var(--primary-color);
  opacity: 50%;
}
