html,
body {
  padding: 0;
  margin: 0;
  font-family: futura_bk_bold;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body {
  position: relative;
  display: inline-flex;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/starfield_compass.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  color: var(--text_color);
}

.temp_wrapper {
  display: block;
  background-color: rgb(80, 109, 99);
  width: 100%;
  height: 30%;
  top: -500px;
}

p {
  position: relative;
  color: white;
}
